@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* { 
    margin: 0 auto; font-family: 'Open Sans', sans-serif;
}

#tracker ul { 
    padding: 1em 0em 1em 0em; background-color: #333; 
}

#tracker li { 
    list-style: none; padding: 0.5em; overflow: auto; 
    background-color: #666; border-bottom: 2px solid #333; 
}

span.state, span.info { 
    display: block; float: left; 
}

span.completed-true { 
    color: gray; font-style: italic; text-decoration: line-through; 
}

span[contenteditable="true"] { 
    background: gray; padding: 3px; 
}

input[type="checkbox"] { 
    display: none; 
}

input[type="checkbox"] + label span { 
    display: inline-block; width: 32px; height: 32px; 
    background:url('../img/checkboxes.png') 0px 0px no-repeat; 
    cursor: pointer; vertical-align: middle; 
}

input[type="checkbox"]:checked + label span {
    background:url('../img/checkboxes.png') -32px top no-repeat;
}