<!DOCTYPE html>
<html lang="en" ng-app="furgatErrandBoy">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Errand Boy | v1.0.Atomic</title>
    <!-- necessary angular libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-cookies.min.js"></script>
    <!-- fontawesome for icon support -->
    <script src="https://use.fontawesome.com/59a6d08232.js"></script>
    <!-- my assets and code -->
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <script src="js/errand-boy.js"></script>
</head>
<body>
    <div id="core" ng-controller="errandBoy">
        <div id="reporter">
            <ul ng-repeat="r in reports track by $index">
                <li class="{{r.color}}">
                    <span class="close">
                        <a ng-click="delReport($index)"><i class="fa fa-window-close-o"></i></a>
                    </span>
                    <span class="message">
                        {{r.message}}
                    </span>
                </li>
            </ul>
        </div>
        
        <div id="adder">
            <span>
                <a class="green" ng-click="toggleAdd()"><i class="fa fa-plus-circle"></i> Toggle Errand Form</a>
                <a class="yellow" ng-click="clearAllData()"><i class="fa fa-minus-circle"></i> Clear All Data</a>
            </span>
            
            <form ng-show="adding">
                <p>Create a new Errand ::</p>
                <input 
                    type="text" 
                    ng-model="errandForm.name" 
                    placeholder="Errand Name,,,"
                >
                <textarea ng-model="errandForm.desc" placeholder="Description (Optional),,,"></textarea>
                <button ng-click="addErrand($event)">CONFIRM</button>
            </form>
        </div>
        
        <div id="tracker">
            <ul>
                <li ng-repeat="e in errands track by $index">
                    <span class="info">
                        <span class="state">
                            <input 
                                id="{{'status-' + $index}}" 
                                type="checkbox" 
                                ng-model="e.status" 
                                ng-click="statusUpdate($index)"
                            >
                            <label for="{{'status-' + $index}}"><span></span></label>
                        </span>
                        <span 
                            class="name {{'completed-' + e.status}}"
                            contenteditable="false"  
                            ng-keydown="editEnter($index, 'Name')" 
                            ng-dblclick="editErrand($index, 'name')" 
                            ng-model="e.name"
                        >
                            
                            :: {{e.name}}
                        </span>
                        <a class="trash" ng-click="delErrand($index)"><i class="fa fa-trash-o"></i></a>
                    </span>
                    <span 
                        class="desc"
                        ng-keydown="editEnter($index, 'Description')" 
                        ng-dblclick="editErrand($index, 'desc')"
                        contenteditable="false" 
                        ng-model="e.desc"
                    >
                        {{e.desc}}
                    </span>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>